/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
     display: inline-block;
 }

ul {
     list-style-type: none;
 }


/* HEADER */
header {
    background-color: #181818;
    height: 500px;
}

header nav {
    font-size: 0.7rem;
    margin: 0 auto;
    width: 1000px;
    height:100px;
    color: white;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

header nav .link {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

header nav .link ul {
    list-style-type: none;
}

header nav .link ul li {
    display: inline-block;
    margin: 0 15px;
}


header nav .link img {
    width: 150px;
    height: 100px;
    margin-top: 20px;
}

.right-nav a img{
    filter: invert(100%);
    margin-right: 20px;
}

.right-nav a:first-of-type {
    margin-right:20px;
}

.header-bot ul li {
    width: 25%;
}

.header-bot ul li img {
    height: 250px;
    width: 100%;
    padding: 5px 5px 5px 5px;
}


.header-bot ul li img:first-of-type {
    padding-left: 0;
}

.header-bot ul li img:last-child { /*even with last-of-type it doesnt work*/
    padding-left: 0;
}

/* MAIN SECTION */
/* slider */

.slider {
    height: 300px;
    background-image:url(img/h3-testimonials-bckgrnd.jpg);
    background-size: cover;
    flex-flow: column nowrap;
}

.slider .fa-quote-left {
    font-size: 3rem;
    color: #b7903c;
    margin-bottom: 20px;
}

.quote {
    width: 500px;
    text-align: center;
}
.source{
    color: #d65739;
    margin: 20px 0;
}

.source span {
    font-size: .6rem;
}

.mydots .fas {
    margin-left: 5px;
    font-size: .6rem;
    color: lightgrey;
}

/* MENU SECTION */
.menu {
    height: 550px;
    display: flex;
}

.wrapper {
    width: 100%;
    height:100%;
    flex-flow: column nowrap;
}

.menu img {
    height: 100%;
    width: 50%;
    padding: 5px 0;
}

.specials {
    display: flex;
    flex-flow: column nowrap;
    height: 60%;
    width: 50%;
}
.menu .wrapper .specials li {
    display: block;
    margin: 15px 0;
}

.specials span,
.specials ul li:nth-child(even) {
    color: #B2B2B2;
    font-size: .8rem;
}

.goahead {
    height: 350px;
    display: flex;
    flex-flow: row nowrap;
}

.left {
    width: 7%;
    background-image: url(img/h3-background-img.jpg);
}

.center {
    width: 86%;
}

.right {
    width: 7%;
    background-image: url(img/h3-background-img.jpg);
}

.goahead .center .first {
    height: 25%;
    background-image: url(img/h3-background-img.jpg);
    background-size: cover;
    background-position: bottom;
}

.goahead .center .second {
    height: 50%;
    background-image: url(img/h3-background-img.jpg);
    background-size: cover;
    background-position-y: 200vh;
}

.goahead .center .third {
    height: 25%;
    background-image: url(img/h3-background-img.jpg);
    background-size: cover;
    background-position-y: 50vh;
}

.goahead .left .first,
.goahead .left .third {
    height: 25%;
    background-image: url(img/h3-background-img.jpg);
    background-position: bottom;
}

.goahead .right .first,
.goahead .right .third {
    height: 25%;
    background-image: url(img/h3-background-img.jpg);
    background-position-y: 50vh;
}

.goahead .left .second,
.goahead .right .second {
    height: 50%;
    background-image: url(img/h3-background-img.jpg);
    background-position: center;
}


/* Team */

.team ul li {
    width: 25%;
    padding: 5px 0;
}

.team ul li img {
    height: 335px;
    width: 100%;
}

/* Clients */
.clients {
    background-color: #f7f7f2;
}

.clients ul {
    width: 80%;
    flex: 0 0 5;
}

.clients ul li {
    margin: 40px 0px;
    width: 15%;
    height: 20%;
}

.clients ul li img {
    width: 90%;
    height: 90%;
}


/* Pizza Slider */

.pizza-slider {
    height: 550px;
    flex-flow: column nowrap;
    overflow-x: hidden;
}

.pizza-slider .header {
    flex-flow: column nowrap;
    width: 40%;
    margin-bottom: 50px;
}

.pizza-slider .header p {
    text-align: center;
    color: #B2B2B2;
    font-size: .8rem;
}

.pizza-slider .header h5 {
    color: #D2401E
}

.pizza-slider .header h2 {
    margin: 15px 0;
}

.slider-bot ul li img{
    width: 150px;
    margin: 15px 50px;
}

.slider-bot ul li {
    flex-flow: column nowrap;
}

.slider-bot .name {
    color: #B68A2B;
    font-size: .8rem;
    margin-bottom: 5px;
    font-weight: bold;
}

.slider-bot .price {
    color: #D23F1D;
    font-size: .7rem;
    font-weight: bold;
}

/* DEALS */

.deals {
    height: 550px;
    display: flex;
    color: white;
    font-size: .8rem;
}

.deals .details .events {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.deals .events .title {
    left: -80px;
    position: relative;
}
.deals .events p{
    color: #AB4027;
    margin-top: 30px;
}
.deals .events h2 {
    margin: 15px 0 35px 0;
}

.deals .details {
    width: 50%;
    height: 500px;
    background-color: #1C1C1C;
}

.deals img {
    width: 50%;
    height: 550px;
}

.deals .details .place {
    display: flex;
    align-items: center;
    border-bottom: #B68A2B dotted 2px;
    width: 350px;
}

.deals .details .place:last-child {
    border-bottom: none;
}

.location {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
}

.location h4 {
    margin-top: 20px;
}

.deals .details .date {
    margin-right: 20px;
    margin-bottom: 50px;
}

.deals .details .date h1 {
    color: #AB4027;
    font-size: 2rem;
    font-weight: bolder;
}

.deals .details .events .location p {
    margin: 10px 0 50px 0;
}

/* Booking */

.booking {
    height: 150px;
    background-image: url(img/h3-background-img-3.jpg);
    background-size: cover;
    color: white;
    margin-bottom: 5px;
}

.booking input {
    padding: 10px;
    margin:0 15px 0 15px;
    border: 1px solid black;
}

.booking button {
    padding: 15px 35px;
    color: white;
    background-color: #D2401E;
    border: none;
    font-size: .6rem;
}

/* HELPER */

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
